.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Adjust the gap between products as needed */
    padding: 20px; /* Add some padding around the grid */
}

.filter-bar-container {
    padding-left: 20px; /* Add left padding */
    padding-right: 20px; /* Add right padding for consistency */
}
