# dependencies
**/node_modules
.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/out
.cache
.parcel-cache

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env*.local

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.c9/
*.session
.history
